.header {
    height: 48px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
}

.header .header-left {
    align-items: center;
    display: flex;
    width: 225px;
    border-right: 1px solid #cccc;
    height: 48px;
}

.header .header-left .toggle {
    width: 24px;
    height: 24px;
    margin: 12px 10px 12px 16px;
    background-image: url("../../content/img/toggle.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header .header-left .logo {
    height: 24px;
    width: 150px;
    background-image: url("../../content/img/cukcuk-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.header .header-right {
    width: calc(100% - 226px);
    height: 48px;
    align-items: center;
    border-bottom: 1px solid #cccc;
    display: flex;
}

.header .header-right .header-title {
    margin: 0px 10px 0px 16px;
}

.header .header-right .header-arrow {
    height: 12px;
    width: 12px;
    background-image: url("../../content/icon/arrow-down-sign-to-navigate.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header .header-right .header-right-content {
    width: 300px;
    height: 48px;
    display: inline-block;
    position: absolute;
    right: 0px;
    align-items: center;
}

.header .header-right .header-right-content .customer-logo {
    height: 32px;
    width: 32px;
    position: relative;
    float: right;
    background-image: url("../../content/icon/avatar-default.png");
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-top: 8px;
}

.header .header-right .header-right-content .customer-name {
    height: 32px;
    position: relative;
    float: right;
    box-sizing: content-box;
    text-align: center;
    line-height: 32px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 8px;
}

.header .header-right .header-right-content .customer-dash {
    height: 16px;
    width: 16px;
    position: relative;
    float: right;
    right: 0px;
    margin-right: 16px;
    margin-top: 16px;
    border-radius: 50%;
    background-image: url("../../content/icon/option.png");
    background-size: contain;
    background-repeat: no-repeat;
}