@font-face {
    font-family: myFirst;
    src: url('/Resource/font/GoogleSans-Light.otf');
}

body {
    font-family: myFirst;
}

body,
html {
    font-size: 13px;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 99vh;
    display: flex;
}

.menu {
    height: 100%;
    width: 250px;
    border-right: 1px solid #ccc;
}

.menu .home {
    display: flex;
    height: 48px;
    width: 100%;
    background-image: url("./images/home.png");
    background-repeat: no-repeat;
}

.menu .home .QLNV {
    height: 100%;
    line-height: 50px;
    width: calc(100% - 50px);
    background-image: url('./Resource/img/logo.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
}

.menu .home .toggle {
    height: 100%;
    background-image: url('./Resource/img/toggle.jpg');
    background-repeat: no-repeat;
    width: 50px;
    cursor: pointer;
    background-position-y: center;
    background-position-x: 16px;
}

.menu .item {
    height: calc(100% - 98px);
    width: 100%;
}

.menu .item span {
    color: black;
    font-size: 13px;
    line-height: 44px;
    margin-left: 52px;
}

.menu .item p {
    color: white;
    font-size: 15px;
    margin-left: 45px;
}

.menu .item .icon {
    height: 44px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
    cursor: pointer;
}

.menu .item .general {
    background-image: url("./Resource/icon/dashboard.png");
}

.menu .item .report {
    background-image: url("./Resource/icon/report.png");
}

.menu .item .buy {
    background-image: url("./Resource/icon/dashboard.png");
}

.menu .item .dic-employee {
    background-image: url("./Resource/icon/dic-employee.png");
}

.menu .item .setting {
    background-image: url("./Resource/icon/setting.png");
}

.content {
    width: calc(100% - 50px);
}

.content .slidebar {
    display: flex;
    width: 100%;
    height: 50px;
    color: rgb(58, 56, 56);
    font-size: 16px;
    line-height: 50px;
    justify-content: space-between;
}

.slidebar-select {
    display: flex;
}

.slidebar-select .text {
    margin-left: 16px;
    width: 139px;
    font-weight: 800;
}

.slidebar-select .Select {
    margin-left: 10px;
    width: 16px;
    height: 100%;
    background-image: url("./Resource/icon/downArrow.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.slidebar .icon {
    width: 205px;
    height: 100%;
    display: flex;
    right: 0;
}

.slidebar .icon .avatar {
    height: 100%;
    background-image: url("./Resource/icon/avatar.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    background-size: 30px 30px;
    width: 50px;
}

.slidebar .icon .name {
    line-height: 50px;
}

.slidebar .icon .option {
    height: 100%;
    background-image: url("./Resource/icon/option.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    width: 50px;
}

.blurr {
    animation: fade 2s ease 0s 1 forwards;
}

@keyframes fade {
    from {
        width: 250px;
    }
    to {
        width: 60px;
    }
}

.clear {
    animation: fade1 2s ease 0s 1 forwards;
}

@keyframes fade1 {
    from {
        width: 60px;
    }
    to {
        width: 250px;
    }
}

.hide-item {
    display: none;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.d-block {
    display: block;
}